<div class="Aimar-sidebar">
    <div class="Aimar-sidebar-row">
        <a class="Aimar-sidebar-button" href="{{ site.baseurl }}/">
            <div class="Aimar-sidebar-div">
                Home
            </div>
        </a>
        <div class="Aimar-sidebar-button Aimar-dropdown">
            <div class="Aimar-sidebar-div">
                Tasks
            </div>
            <div class="Aimar-dropdown-content">
                <a href="{{ site.baseurl }}/W01"><div class="Aimar-dropdown-link">W01</div></a>
                <a href="{{ site.baseurl }}/W02"><div class="Aimar-dropdown-link">W02</div></a>
		<a href="{{ site.baseurl }}/W03"><div class="Aimar-dropdown-link">W03</div></a>
		<a href="{{ site.baseurl }}/W04"><div class="Aimar-dropdown-link">W04</div></a>
		<a href="{{ site.baseurl }}/W05"><div class="Aimar-dropdown-link">W05</div></a>
		<a href="{{ site.baseurl }}/W06"><div class="Aimar-dropdown-link">W06</div></a>
		<a href="{{ site.baseurl }}/W07"><div class="Aimar-dropdown-link">W07</div></a>
                <a href="{{ site.baseurl }}/W08"><div class="Aimar-dropdown-link">W08</div></a>
            </div>
        </div>
        <a class="Aimar-sidebar-button" href="{{ site.baseurl }}/TXT/myrank.txt">
            <div class="Aimar-sidebar-div">
                Rank
            </div>
        </a>
        <a class="Aimar-sidebar-button" href="{{ site.baseurl }}/TXT/mypubkey.txt">
            <div class="Aimar-sidebar-div">
                Key
            </div>
        </a>
        <a class="Aimar-sidebar-button" href="{{ site.baseurl }}/TXT/mylog.txt">
            <div class="Aimar-sidebar-div">
                Logs
            </div>
        </a>
        <a class="Aimar-sidebar-button" href="{{ site.urlgithub }}">
            <div class="Aimar-sidebar-div">
                Git
            </div>
        </a>
            </div>
        </a>
    </div>
</div>
